## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
# import scipy.stats as st
# import numpy as np
# from scipy.stats import linregress

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
study_complete_df = pd.merge(study_results,mouse_metadata,on='Mouse ID',how='left')

# Display the data table for preview
study_complete_df


# # Display the data table for preview
# Your tasks are to do the following:
# * Prepare the data.
# * Generate summary statistics.
# * Create bar charts and pie charts.
# * Calculate quartiles, find outliers, and create a box plot.
# * Create a line plot and a scatter plot.
# * Calculate correlation and regression. 
# * Submit your final analysis.

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [2]:
# Checking the number of mice.
mice_count = len(study_complete_df["Mouse ID"].unique())
mice_count

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
time_point=study_complete_df["Timepoint"].value_counts()
time_point

0     250
5     238
10    223
15    207
20    195
25    183
30    171
35    154
40    142
45    130
Name: Timepoint, dtype: int64

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
number_id_occur = study_complete_df['Mouse ID'].value_counts()
number_id_occur

g989    13
b128    10
q787    10
s337    10
q511    10
        ..
f932     1
b447     1
u153     1
t573     1
o848     1
Name: Mouse ID, Length: 249, dtype: int64

In [5]:
# not sure if this step is necessary, ask tutor 
number_id_occur = number_id_occur.reset_index()
number_id_occur

    index  Mouse ID
0    g989        13
1    b128        10
2    q787        10
3    s337        10
4    q511        10
..    ...       ...
244  f932         1
245  b447         1
246  u153         1
247  t573         1
248  o848         1

[249 rows x 2 columns]

In [6]:
# Checking the number of mice in the clean DataFrame.
# duplicate mice
duplicate_mice = number_id_occur.loc[number_id_occur['Mouse ID']>len(time_point)]
duplicate_mice

  index  Mouse ID
0  g989        13

In [7]:
# why are we using 0,0 if there are multiple duplicate mice?
duplicate_mice = duplicate_mice.iloc[0,0]

duplicate_mice

'g989'

In [8]:
type(duplicate_mice)

str

In [9]:
# keep = false means you want to lis ALL duplicates (can exckude first or last)
study_complete_df.loc[study_complete_df.duplicated(subset = ["Mouse ID", "Timepoint"], keep = False)]

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26

In [13]:
# Optional: Get all the data for the duplicate mouse ID, (Hardcode: could enter duplicate mice value as string)
all_data_duplicate_df = study_complete_df.loc[study_complete_df["Mouse ID"]==duplicate_mice]
all_data_duplicate_df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [14]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID, all columns not equal to repeated value
clean_data = study_complete_df.loc[study_complete_df['Mouse ID']!=duplicate_mice]
clean_data

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [33]:
# check your work
clean_data['Mouse ID'].unique()

array(['b128', 'f932', 'g107', 'a457', 'c819', 'h246', 'p189', 'n923',
       'q119', 'f993', 'z234', 'b559', 'y260', 'x930', 'o725', 'z969',
       'v835', 'r604', 'n304', 'l700', 'x336', 'l725', 'm133', 'v295',
       'a818', 'y601', 't724', 'k382', 'w422', 'c326', 'c139', 'v339',
       'a577', 'y163', 'k483', 'k804', 'o809', 'z581', 'a251', 'i386',
       'c580', 'q132', 'u327', 'v603', 'f278', 'g497', 'd474', 'o973',
       'c832', 'o331', 'm650', 'v289', 'm550', 'h428', 'r701', 'v199',
       'x264', 'f234', 'c458', 'q610', 'j913', 'a411', 'a444', 'd251',
       'j989', 'y449', 'k403', 'c758', 'x402', 'r811', 'a644', 'i177',
       'g791', 'a520', 'u196', 'm546', 'w678', 'n364', 's508', 'e662',
       'z578', 'r921', 'a492', 'w540', 'v764', 'z795', 'e291', 'e584',
       'e213', 'j755', 's565', 'a366', 'p387', 'b879', 'i901', 'k862',
       'g867', 's619', 'w697', 'j984', 'c402', 'h333', 'k510', 'p981',
       't451', 'a963', 'm269', 'z314', 'o848', 'v719', 'q597', 'c895',
       'a203', 'f394', 'c264', 'n967', 'f545', 'k894', 'k754', 'g296',
       'd164', 'w575', 'x613', 'q633', 'b313', 'f129', 'j365', 'p136',
       'c559', 'a788', 's337', 'q511', 'm331', 'o926', 'd133', 'n630',
       'a401', 'w350', 'c302', 'a897', 'j235', 'q787', 'a262', 'r850',
       'i669', 'n763', 's152', 'c766', 'e227', 'c282', 'v989', 'w140',
       'v409', 'l872', 'o795', 'y478', 'q582', 's166', 'x773', 'w167',
       't718', 'o302', 'i477', 'c757', 't994', 'p310', 'a699', 'k603',
       'x822', 'l558', 'l733', 'f436', 'l490', 'b759', 'l471', 'y865',
       'y769', 'l661', 'j296', 'u149', 'u153', 'w151', 'h531', 'a685',
       'o813', 'm756', 'n671', 's121', 'v766', 'w193', 'e476', 'w584',
       'b447', 'k210', 'a275', 'x581', 'n482', 't198', 'l215', 's141',
       'o523', 'i635', 'w746', 'r107', 's187', 'g570', 'x209', 'x111',
       'z435', 'n678', 'g558', 'u946', 'o562', 'v991', 'c927', 'x226',
       'p438', 'b487', 'o287', 'q483', 't573', 'f345', 'i334', 'l264',
       'j246', 'r554', 's185', 'b742', 'x401', 'l509', 's710', 'r157',
       'u364', 'j119', 'v923', 'w914', 'i738', 'r944', 'y793', 'g316',
       'g288', 'l897', 'w150', 't565', 'i557', 'm957', 'f966', 'm601'],
      dtype=object)

In [34]:
# check type, series and dataframe function differ
type(clean_data)

pandas.core.frame.DataFrame

In [31]:
# this makes sense because we only removed the one duplicate mouse from our previous unique total
len(clean_data['Mouse ID'].unique())

248

## Summary Statistics

In [39]:
# generate a summary statistics table of mean, median, variance, std dev, and SEM of the tumor volume per regimen
mean_tv = clean_data.groupby('Drug Regimen').mean().iloc[:,1]
# previous comment tell us to set to regimen as index, this is why we are using groupby function 
median_tv = clean_data.groupby('Drug Regimen').median().iloc[:,1]
# remember that the first colon mean all ROWS, 1 means second column 
variance_tv = clean_data.groupby('Drug Regimen').var().iloc[:,1]
# tv stands for tumor volume, sd/std for standard deviation 
sd_tv = clean_data.groupby('Drug Regimen').std().iloc[:,1]
# SEM is the standard deviation of mean of random samples drawn from the original population
sem_tv = clean_data.groupby('Drug Regimen').sem().iloc[:,1]
# print one of these df to look at 
print(mean_tv)
type(mean_tv)

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.320930
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

/var/folders/bp/kkf4c1nj557c5frmyn420c7c0000gn/T/ipykernel_41340/890246701.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_tv = clean_data.groupby('Drug Regimen').mean().iloc[:,1]
/var/folders/bp/kkf4c1nj557c5frmyn420c7c0000gn/T/ipykernel_41340/890246701.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median_tv = clean_data.groupby('Drug Regimen').median().iloc[:,1]
/var/folders/bp/kkf4c1nj557c5frmyn420c7c0000gn/T/ipykernel_41340/890246701.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.var is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  variance_tv = clean_data.groupby('Drug Regimen').var().iloc[:,1]
/var/folders/bp/kkf4c1nj557c5frmyn420c7c0000gn/T/ipykernel_41340/890246701.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sd_tv = clean_data.groupby('Drug Regimen').std().iloc[:,1]
/var/folders/bp/kkf4c1nj557c5frmyn420c7c0000gn/T/ipykernel_41340/890246701.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sem_tv = clean_data.groupby('Drug Regimen').sem().iloc[:,1]

pandas.core.series.Series

In [42]:
# Assemble the resulting series into a single summary dataframe.
summary_stat_df = pd.DataFrame({'Mean':mean_tv,
                                   'Median':median_tv,
                                   'Variance':variance_tv,
                                   'Std':sd_tv,
                                   'SEM':sem_tv})

summary_stat_df

                   Mean     Median   Variance       Std       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398

In [45]:
# Using the aggregation method, produce the same summary statistics in a single line
agg_data = clean_data.groupby(["Drug Regimen"])["Tumor Volume (mm3)"].agg(["mean", "median", "var", "std", "sem"])
# this method takes str(), (), or a [] of these and computes all the aggregates at once
agg_data

                   mean     median        var       std       sem
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [47]:
# Generate bar plot showing total number of timepoints for all mice tested for each drug regimen using Pandas.
# create a groupby indexed by 'Drug Regimen' column values
drug_regimen_groupby =  clean_data.groupby(['Drug Regimen'])

# the number of timepoints for all mice tested
total_timepoints = drug_regimen_groupby.count()['Timepoint']

# print
total_timepoints

Drug Regimen
Capomulin    230
Ceftamin     178
Infubinol    178
Ketapril     188
Naftisol     186
Placebo      181
Propriva     148
Ramicane     228
Stelasyn     181
Zoniferol    182
Name: Timepoint, dtype: int64

In [ ]:
# create bar chart based on total_timepoints

count_chart = count_timepoints.plot(kind='bar', figsize=(6,8))

# Set the xlabel and ylabel using class methods
count_chart.set_xlabel("Drug Regimen")
count_chart.set_ylabel("Number of Mice Tested")
count_chart.set_title("All mice tested for each Drug Regimen")

# Alternate Method 
# Drug_Regimen = summary_statistics.reset_index().iloc[:,1].to_list()
# Drug_Regimen
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen